.button {
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  background-color: blue;
}
